.loader {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  display: flex;
  animation: 1s rotate linear infinite;

  .meter {
    fill: none;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 360;
    stroke: $primary;
  }

  &--hidden {
    opacity: 0;
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
