.menu {
  $block: &;

  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  height: 36px;
  background: none;
  padding: 8px 10px;
  border-radius: 6px;
  transition: background .2s ease-in-out, opacity .2s ease-in-out, width .2s ease-in-out, padding .2s ease-in-out;

  &__icons-container {
    display: flex;
    padding-left: 8px;
    margin-bottom: -15px;
    flex-wrap: wrap;
    max-height: 200px;
    overflow: scroll;
  }

  &--colored {
    img {
      filter: none !important;
    }
  }

  img {
    filter: grayscale(1) brightness(1.4);
  }

  span {
    font-size: 15px;
    color: transparent;
    padding-left: 10px;
    transition: color .1s ease-in-out;
  }

  &:hover {
    background: $primary-light;

    img {
      filter: none;
    }

    span {
      color: $black !important;
    }
  }

  &--invisible {
    opacity: 0;
  }

  &--hover-block {
    span {
      color: $text-light;
    }
  }

  &--max-width {
    width: 100%;
    justify-content: flex-start;
  }

  &--invert {
    &:hover {
      transition: background .2s ease-in-out, opacity .2s ease-in-out, width .2s ease-in-out, padding .2s ease-in-out;
      background: $sidebar-gradient;
    }
  }

  &--primary {
    background: $primary;

    &:hover {
      background: rgba(38, 136, 243, 0.8);

      img {
        filter: none;
      }
    }
  }
}
