.comment {
  $block: &;

  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    border-radius: 6px;
    background: #f7f7f7;
    margin: 2px 0 2px 5px;
    padding: 10px;
    transition: background .2s ease-in-out;

    &--pressed {
      background: $primary-light !important;
    }

    &--editable {
      box-shadow: $primary-light 0 0 0 2px inset;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__attachments {
    display: flex;
    flex-wrap: wrap;
  }

  &__header {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 5px 0;

    &--replied {
      margin: 8px 0 10px;
    }
  }

  &__text {
    margin-left: 5px;

    p {
      margin: 0;
    }
  }

  &__date {
    color: $text-very-light;
    font-size: 10px;
    font-family: 'Nunito Extra Light', sans-serif;
    margin-right: 15px;
  }

  &__like-bubbles {
    display: flex;
  }

  &__controls {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    &--buttons {
      display: flex;
    }

    &--actions {
      display: flex;
      align-items: center;

      span {
        color: $text-very-light;
        font-family: 'Nunito Extra Light', sans-serif;
        font-size: 10px;
      }
    }

    button {
      margin: 0 3px;
    }
  }
}
