.columns {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: calc(100vw - 261px);
  width: calc(100vw - 261px);
  min-width: calc(100vw - 261px);
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden; // broke dnd
  position: relative;
  overflow-x: scroll;

  &::-webkit-resizer,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner { display: none !important; }
  &::-webkit-scrollbar {
    height: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($text-very-light, 10) !important;
    border: 5px solid #fff !important;
    border-radius: 10px !important;
    transition: background .5s ease-in-out !important;
    &:hover {
      background: darken($text-very-light, 20) !important;
    }
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent !important;
  }
}
