.columns {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: calc(100vw - 261px);
  width: calc(100vw - 261px);
  min-width: calc(100vw - 261px);
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden !important; // broke dnd
  position: relative;
  overflow-x: scroll;
}
