.mini-gallery {
  $block: &;

  //max-width: 215px;
  width: 100%;
  overflow: hidden;
  height: 0;
  position: relative;
  //height: auto;

  &--opened {
    margin-top: 5px;
  }

  &__wrapper {
    //max-width: 215px;
    border-radius: 6px;
    border: 2px solid transparent;
    overflow: hidden;
    transition: border .2s ease-in-out;
  }

  &:hover {
    #{$block}__wrapper {
      border: 2px solid $primary;
    }
  }

  & .swiper {
    &-slide-active {
      width: auto !important;
    }
    &-wrapper {
      //max-width: calc(100% - 70px);
      max-width: $column-width - 61;
      //max-width: calc(var(--mini-gallery-width) - 70px);
      margin-bottom: -5px;
      //margin-right: -5px;
      img {
        //width: calc(100% - 70px + 2px);
        //width: $column-width - 70 + 2;
        width: calc(var(--mini-gallery-width) - 61px + 2px);
      }
    }
    &-pagination {
      position: absolute;
      text-align: center;
      transition: opacity .3s;
      transform: translateZ(0);
      z-index: 10;
      &-fraction {
        color: $white;
        font-size: 10px;
        width: auto !important;
        top: 6px !important;
        left: 6px !important;
        bottom: auto !important;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0 5px;
      }
      &-current {
        margin-right: -2px;
      }
      &-total {
        margin-left: -2px;
      }
    }
    &-button {
      &-prev {
        position: absolute;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        color: $white;
        height: 24px;
        width: 24px;
        top: 8px;
        right: 38px;
        left: auto;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 8px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/assets/svg/arrow-left.svg");
        &:hover {
          background-color: $primary;
        }

        &:after {
          content: '' !important;
        }
      }
      &-next {
        position: absolute;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        color: $white;
        height: 24px;
        width: 24px;
        top: 8px;
        right: 8px;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 8px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/assets/svg/arrow-right.svg");
        &:hover {
          background-color: $primary;
        }

        &:after {
          content: '' !important;
        }
      }
    }
  }
}
