.column {
  $block: &;

  display: flex;
  flex-direction: column;
  width: $column-width;
  height: 100vh;
  //border-right: 1px solid rgba(0, 0, 0, 0.05);
  //margin-right: 1px;
  padding: 23px 10px;
  &__wrapper {
    height: 100%;
    border-radius: 6px;
    margin-bottom: 50px;
    //overflow-x: hidden;
    overflow-y: scroll;
    transition: background .1s ease-in-out, scale .5s ease-in-out;
    &::-webkit-scrollbar {
      width: 0;
    }
    &--dragging {
      background: $primary-light;
      transform: scale(1.02);
      box-shadow:  10px 10px 30px rgba(210, 227, 253, 0.3),
      -10px -10px 30px rgba(210, 227, 253, 0.3);
      #{$block}__header {
        background: $primary-light;
      }
      .card__textarea {
        background: $primary-light !important;
      }
    }
    &--pressed {
      background: $primary-light !important;
    }
    &--hovered {
      background: #f7f7f7;
      #{$block}__title-editable {
        background: #f7f7f7;
      }
      #{$block}__description-editable {
        background: #f7f7f7;
      }
    }
  }
  &__container {
    height: calc(100vh - 213px);
  }
  &__header {
    display: flex;
    flex-direction: column;
    padding: 17px 10px 13px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    outline: none;
    letter-spacing: 0;
    transition: background .1s ease-in-out, border .2s ease-in-out;
    &--editable {
      box-shadow: rgba(0, 0, 0, 0.25) 0 2px 6px;
      width: $column-width - 27;
      margin: 3px;
      padding: 14px 9px 10px 7px;
      border-radius: 6px;
    }
    &--red {
      background: #feeae7;
      &:hover {
        background: none;
      }
    }
    &--yellow {
      background: #fffce6;
      &:hover {
        background: none;
      }
    }
    &--green {
      background: #f1f6e6;
      &:hover {
        background: none;
      }
    }
    &--turquoise {
      background: #e7f9f5;
      &:hover {
        background: none;
      }
    }
    &--blue {
      background: #eaf5fb;
      &:hover {
        background: none;
      }
    }
    &--gray {
      background: #f9f9f9;
      &:hover {
        background: none;
      }
    }
  }
  &__header-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    padding: 0;
    margin: 0;
    min-height: 38px;
    outline: none;
    border: none;
    resize: none;
    font-size: 28px;
    font-family: 'Nunito Extra Bold', sans-serif;
    background: inherit;
    max-height: 70px;
    overflow: hidden;
    &--empty {
      color: $text-light;
    }
    &--editable {
      overflow: scroll;
    }
  }
  &__description {
    padding: 0;
    margin: 0;
    min-height: 38px;
    outline: none;
    border: none;
    resize: none;
    font-size: 14px;
    color: $text;
    font-family: 'Nunito Regular', sans-serif;
    background: none;
    max-height: 80px;
    overflow: hidden;
    &--empty {
      color: $text-light;
    }
    &--editable {
      overflow: scroll;
    }
  }
  &__overlay {
    position: absolute;
    height: 100vh;
    width: $column-width;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    z-index: -2;
  }
}
