.column {
  $block: &;

  display: flex;
  flex-direction: column;
  width: $column-width;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 23px 10px;
  &__wrapper {
    height: 100%;
    border-radius: 6px;
    margin-bottom: 50px;
    transition: background .1s ease-in-out, scale .5s ease-in-out;
    &--dragging {
      background: $primary-light;
      transform: scale(1.02);
      box-shadow:  10px 10px 30px rgba(210, 227, 253, 0.3),
      -10px -10px 30px rgba(210, 227, 253, 0.3);
      #{$block}__header {
        background: $primary-light;
      }
      .card__textarea {
        background: $primary-light !important;
      }
    }
    &--pressed {
      background: $primary-light !important;
    }
    &--hovered {
      background: $hover-color;
      #{$block}__title-editable {
        background: $hover-color;
      }
      #{$block}__description-editable {
        background: $hover-color;
      }
    }
    &--compact {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      //align-items: center;
    }
    &--red {
      background: #feeae7;
      &:hover {
        background: none;
      }
    }
    &--yellow {
      background: #fffce6;
      &:hover {
        background: none;
      }
    }
    &--green {
      background: #f1f6e6;
      &:hover {
        background: none;
      }
    }
    &--turquoise {
      background: #e7f9f5;
      &:hover {
        background: none;
      }
    }
    &--blue {
      background: #eaf5fb;
      &:hover {
        background: none;
      }
    }
    &--gray {
      background: #f9f9f9;
      &:hover {
        background: none;
      }
    }
  }
  &__container {
    //height: calc(100vh - 213px);
    height: calc(100vh - 87px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    padding: 17px 10px 13px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    outline: none;
    letter-spacing: 0;
    transition: background .1s ease-in-out, border .2s ease-in-out;
    &--editable {
      box-shadow: rgba(0, 0, 0, 0.20) 0 2px 6px;
      width: $column-width - 27;
      margin: 3px;
      padding: 14px 9px 10px 7px;
      border-radius: 6px;
    }
  }
  &__header-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    padding: 0;
    margin: 0;
    min-height: 38px;
    outline: none;
    border: none;
    resize: none;
    font-size: 28px;
    font-family: 'Nunito Extra Bold', sans-serif;
    background: inherit;
    max-height: 70px;
    overflow: hidden;
    &--empty {
      color: $text-light;
    }
    &--editable {
      overflow: scroll;
    }
  }
  &__description {
    padding: 0;
    margin: 0;
    min-height: 38px;
    outline: none;
    border: none;
    resize: none;
    font-size: 14px;
    color: $text;
    font-family: 'Nunito Regular', sans-serif;
    background: none;
    max-height: 80px;
    overflow: hidden;
    &--empty {
      color: $text-light;
    }
    &--editable {
      overflow: scroll;
    }
  }
  &__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    transform: rotate(-90deg);
  }
  &__counter {
    //font-size: 14px;
    //color: $text-light;
    display: flex;
    justify-content: center;
    align-items: center;
    //min-width: 23px;
    //min-height: 20px;
    border: 1px solid $text-very-light;
    border-radius: 3px;
    padding: 1px 5px;
    margin-left: 10px;
    #{$block}__compact-text {
      font-size: 12px;
      font-family: "Nunito Medium", sans-serif;
    }
    //transform: rotate(-90deg);
  }
  &__compact-text {
    display: flex;
    font-size: 15px;
    color: $text-very-light;
    //transform: rotate(-90deg);
    flex-shrink:0;
  }
  &--dragging {
    border-right: none;
  }
  &--compact {
    height: 100%;
    width: 36px;
    overflow: hidden;
    padding: 23px 5px;
  }
}
