.popup {
  position: relative;
  border-radius: 8px;
  transition: opacity .1s ease-in-out;
  z-index: 3;
  &--submenu {
    padding-left: 10px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    background: $white;
    padding: 7px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 6px;
    border-radius: 8px;
    &--hide-vertical-scroll {
      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }
    &--hide-horizontal-scroll {
      &::-webkit-scrollbar {
        height: 0 !important;
      }
    }
  }
  &--top {
    transform: translate(37%, -60%);
  }
  &--left {
    transform: translate(-100%, 0%);
  }
  &--right {
    position: absolute;
    transform: translate(100%, 0%);
  }
  &--bottom {
    transform: translate(30%, 60%);
  }
}
