.card {
  $block: &;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  cursor: grab;
  padding: 1px 0;

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__color {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 6px;
    max-width: 100%;

    &:hover {
      .card-context-menu {
        opacity: 1;
      }
    }

    &--editable {
      background: none !important;
    }

    &--invert {
      &:hover {
        background: $white;
      }
    }

    &--dragging {
      background: $primary-light;
      box-shadow: 5px 5px 15px rgba(210, 227, 253, 0.5),
      -5px -5px 15px rgba(210, 227, 253, 0.3);
    }

    &--red {
      background: rgba(255, 106, 86, 0.3);

      &:hover {
        background: rgba(255, 106, 86, 0.15);
      }
    }

    &--yellow {
      background: rgba(254, 233, 48, 0.3);

      &:hover {
        background: rgba(254, 233, 48, 0.15);
      }
    }

    &--green {
      background: rgba(156, 196, 71, 0.3);

      &:hover {
        background: rgba(156, 196, 71, 0.15);
      }
    }

    &--turquoise {
      background: rgba(50, 218, 188, 0.3);

      &:hover {
        background: rgba(50, 218, 188, 0.15);
      }
    }

    &--blue {
      background: rgba(95, 193, 233, 0.3);

      &:hover {
        background: rgba(95, 193, 233, 0.15);
      }
    }

    &--gray {
      background: rgba(216, 216, 216, 0.3);

      &:hover {
        background: rgba(216, 216, 216, 0.15);
      }
    }

    &--pressed {
      background: $primary-light !important;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    max-width: 100%;
    transition: background .1s ease-out, box-shadow .1s ease-in-out, height .2s ease-in-out;
    border-radius: 6px;
    flex-direction: column;

    &:before {
      border-radius: 6px;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: background .05s ease-out;
    }

    &:hover {
      &:before {
        background: $hover-color !important;
      }
    }

    &--editable {
      box-shadow: rgba(0, 0, 0, 0.20) 0 1px 6px;

      &:before {
        background: $white !important;
      }

      &:hover {
        &:before {
          background: $white !important;
        }
      }

      &:hover {
        background: $white;
      }

      #{$block}__block {
        padding-top: 12px;
        margin-top: -1px;
      }

      #{$block}__block-wrapper {
        padding: 0 7px;
      }
    }
  }

  &__block-wrapper {
    display: flex;
    flex: 1;
    padding-left: 10px;
    max-width: 100%;

    &--editable {
      padding-left: 0;
    }
  }

  &__block {
    display: flex;
    padding: 6px 6px 6px 2px;
    justify-content: center;
    align-items: center;
    flex: 1;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
  }

  &__title {
    display: inline;
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
    max-height: 440px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0;

    &--cross-out {
      text-decoration: line-through;
    }
  }

  &__inner {
    display: block;
    width: 100%;
    padding-left: 5px;
  }

  &__textarea {
    outline: none;
    border: none;
    resize: none;
    font-family: 'Nunito Regular', sans-serif;
    font-size: 15px;
    margin-top: -6px;
    transition: inherit;
    background: inherit;
    min-height: 20px;
    width: 100%;

    &--description {
      font-size: 14px;
      margin-top: 2px;
      color: $text-dark;
    }

    &::placeholder {
      color: $text-light;
    }

    &:-ms-input-placeholder {
      color: $text-light;
    }

    &::-ms-input-placeholder {
      color: $text-light;
    }
  }

  &__editable {
    &-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-left: 3px;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;

      span {
        font-family: 'Nunito Light', sans-serif;
        font-size: 14px;
        color: $text-very-light;
      }
    }

    &-controls {
      display: flex;
      justify-content: space-between;
    }
  }

  &__toggle-container {
    display: inline-block;
  }
}
