.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6px 10px 6px 10px;
  cursor: grab;
  &__block {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    span {
      margin-top: -4px;
      margin-left: 10px;
    }
  }
  &:hover {
    border-radius: 6px;
    transition: background-color 0.2s ease 0s;
    background: #f7f7f7;
  }
}
