.fallback-loader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: $white;
  transition: .5s opacity ease-in-out;
  &--fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &--hide {
    opacity: 0;
  }
  &__wrapper {
    display: flex;
    width: 100px;
    height: 100px;
  }
}
