.fallback-loader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: .25s opacity ease-in-out;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &--fixed {
    position: fixed;
  }
  &--absolute {
    position: absolute;
  }
  &--hide {
    opacity: 0;
  }
  &__wrapper {
    display: flex;
  }
}
