.about {
  &__feature {
    $block: &;

    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    padding: 25px 40px 25px;

    &--reversed {
      flex-direction: row-reverse;

      #{$block}-info {
        margin-right: 0;
      }

      #{$block}-preview {
        margin-right: 50px;
      }
    }

    p {
      font-size: 24px;
      font-family: "Nunito Light", sans-serif;
    }

    &-info {
      flex: 30%;
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      flex-shrink: 0;

      img {
        width: 50px;
        height: 50px;
      }

      b {
        font-family: "Nunito Extra Bold", sans-serif;
      }
    }

    &-title {
      font-size: 50px;
      line-height: 80%;
      font-family: "Nunito Extra Bold", sans-serif;
      margin: 15px 0;
    }

    &-preview {
      display: flex;
      flex: 70%;
      justify-content: center;
      align-items: center;
    }
  }

}

@media (max-width: 1366px) {
  .about {
    &__feature {
      p {
        font-size: 20px;
      }

      &-info {
        flex: 35%;
      }

      &-preview {
        flex: 65%;
      }
    }
  }
}

@media (max-width: 1140px) {
  .about {
    &__feature {
      &-title {
        font-size: 40px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 960px) {
  .about {
    &__feature {
      flex-direction: column;

      &-title {
        font-size: 40px;
      }
      p {
        font-size: 22px;
      }
      &-info {
        flex: 100%;
      }

      &-preview {
        margin: 0 !important;
        flex: 100%;
      }
    }
  }
}
