.column {
  &__header {
    display: flex;
    flex-direction: column;
    padding: 17px 10px 13px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    outline: none;
    letter-spacing: 0;
    transition: background .1s ease-out, border .2s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: -100px;
      right: 0;
      z-index: -1;
      transition: background .1s ease-out;
    }

    &-container {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;
      margin-right: 16px;
    }

    &--editable {
      margin: 3px;
      padding: 14px 9px 10px 7px;
      background: none;
      &:before {
        background: none !important;
      }
      &:hover {
        &:before {
          background: none !important;
        }
      }
    }

    &:hover {
      &:before {
        background: $hover-color;
      }
      .column-toolbar {
        opacity: 0;
      }
    }
  }

  &__title {
    padding: 0;
    margin: 0;
    min-height: 38px;
    outline: none;
    border: none;
    resize: none;
    font-size: 28px;
    font-family: 'Nunito Extra Bold', sans-serif;
    background: inherit;
    max-height: 70px;
    overflow: hidden;

    &--empty {
      color: $text-light;
    }

    &--editable {
      overflow: scroll;
    }
  }

  &__description {
    padding: 0;
    margin: 0;
    min-height: 19px;
    outline: none;
    border: none;
    resize: none;
    font-size: 14px;
    color: $text;
    font-family: 'Nunito Regular', sans-serif;
    background: none;
    max-height: 80px;
    overflow: hidden;

    &--empty {
      color: $text-light;
    }

    &--editable {
      overflow: scroll;
    }
  }

}
