.comment-form-attachments {
  $block: &;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  max-height: 200px;
  min-height: 26px;
  overflow-y: scroll;

  &::-webkit-scrollbar-thumb {
    border: 5px solid $hover-color !important;
  }

  &__item {
    flex: 0 0 48%;
    display: flex;
    padding: 1px 4px;
    margin: 5px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $white;
    border-radius: 4px;
  }

  &__wrapper {
    display: flex;
    flex: 0 0 48%;
    position: relative;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
  }

  &__preview {
    width: 23px;
    height: 18px;
    margin-right: 10px;
    border-radius: 2px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;

    &--empty {
      position: absolute;
      height: 16px;
      width: 16px;
      filter: grayscale(1) brightness(1.4);
    }
  }

  &__text {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--list-view {
    border: 2px dashed $primary-light;
    border-radius: 4px;
    padding-left: 0;
    flex: 1;
    flex-direction: column;
    flex-wrap: unset;
    overflow-y: auto;
    margin-top: 5px;
    //#{$block}__item:not(:last-child) {
    //  border-bottom: 2px dashed $primary-light;
    //}

    &::-webkit-scrollbar-thumb {
      border: 5px solid $white !important;
    }

    #{$block}__item {
      flex: 0 0 100%;
      border-radius: 0;
      margin: 0;
    }
    #{$block}__text {
      max-width: 145px;
    }
  }
}
