.comment-file {
  $block: &;

  position: relative;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  background: #f7f7f7;
  transition: box-shadow .3s ease-in-out;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;

  &:hover {
    .control-button {
      opacity: 1;
    }

    box-shadow: $primary-light 0 0 0 2px;

    #{$block}__overlay {
      opacity: 1;
    }

    #{$block}__size {
      opacity: 1;
    }

    #{$block}__show-more {
      color: $primary;
    }
  }

  &__overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.85);
    transition: opacity .3s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    //&-info {
    //  z-index: 2;
    //  display: flex;
    //  flex: 1;
    //  height: 100%;
    //  justify-content: flex-end;
    //  padding: 5px 15px 0px;
    //}
  }

  &__show-more {
    width: 100%;
    text-align: center;
    color: $text-light;
    z-index: 1;
  }

  &--image {
    height: 200px;

    #{$block}__inner {
      justify-content: flex-end;
    }
  }

  &--compact {
    max-width: 47%;
    max-height: 120px;
  }

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: inherit;
    z-index: 0;
  }

  &__inner {
    display: flex;
    padding: 18px 12px;
    flex: 1;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    //z-index: 1;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $text-dark;

    &--text {
      white-space: nowrap;
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__extension {
    display: flex;
    justify-content: center;
    //flex: 1;
    align-items: center;
    position: relative;
    width: 16px;
    margin-right: 10px;

    img {
      position: absolute;
      width: 20px;
      height: 24px;
      filter: grayscale(1) brightness(1.4);
    }

    span {
      margin-top: 10px;
      font-size: 7px;
      //left: 50%;
      //top: 10px;
      color: $text;
    }
  }

  &__size {
    position: absolute;
    color: $text;
    font-size: 12px;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    &--image {
      bottom: 12px;
      right: 20px;
    }

    &--file {
      bottom: 5px;
      right: 10px;
    }
  }
}
