.sidebar {
  $block: &;
  position: fixed;
  top: 0;
  bottom: 0;

  max-height: 100%;
  width: $sidebar-width+1;
  background: $sidebar-gradient;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  //transition: all .1s ease-out;
  z-index: 2;
  &__inner {
    max-height: 100vh;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__toggle {
    position: fixed;
    display: flex;
    width: $sidebar-width;
    justify-content: flex-end;
    padding: 5px 5px 0 0;
    background: $sidebar-gradient;
  }

  &--unpinned {
    width: 20px;
    #{$block}__inner {
      opacity: 0;
      display: none;
    }
    #{$block}__toggle {
      width: 0;
    }
  }

  &__overlay {
    max-height: 100%;
    width: $sidebar-width+1;
    transition: width .1s ease-out;
    &--unpinned {
      width: 20px;
    }
  }
}

