.footer {
  position: relative;
  display: flex;
  flex: 0 1;
  flex-direction: row;

  &__text {
    position: absolute;
    right: 6px;
    bottom: 6px;
    font-family: 'Nunito Light', sans-serif;
    font-size: 10px;
    color: $text-light;
  }
}
