.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  //&__selector {
  //  border: none;
  //  outline: none;
  //  width: 24px;
  //  height: 24px;
  //  border-radius: 50%;
  //  transition: opacity .1s ease-in-out, box-shadow .1s ease-in-out;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  img {
  //    height: 8px;
  //  }
  //}
}
