$header-height: 100px;
$sidebar-width: 260px;
$column-width: 280px;
$popup-width: 240px;
$sidebar-gradient: linear-gradient(0deg, rgb(249, 250, 250), rgb(249, 250, 250)), linear-gradient(0deg, rgb(253, 233, 230), rgb(253, 233, 230));
