.control-button {
  $block: &;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  height: 36px;
  width: 36px;
  background: none;
  padding: 8px 10px;
  border-radius: 6px;
  //transition: background .1s ease-out, opacity .2s ease-in-out, width .2s ease-in-out, padding .2s ease-in-out;

  &--colored {
    img {
      filter: none !important;
    }
  }

  img {
    top: auto;
    left: auto;
    filter: grayscale(1) brightness(1.4);
  }

  &__text {
    font-size: 15px;
    color: transparent;
    padding-left: 10px;
    transition: color .1s ease-in-out;
  }

  &:hover {
    background: $primary-light;
    img {
      filter: none;
    }
    #{$block}__text {
      color: $black !important;
      filter: none;
    }
  }

  &--invisible {
    opacity: 0;
  }

  &--hidden {
    display: none;
  }

  &--hover-block {
    #{$block}__text {
      color: $text-light;
    }
  }

  &--max-width {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  &--invert {
    &:hover {
      background: $sidebar-gradient !important;
    }
  }

  &--primary {
    background: $primary;

    &:hover {
      background: rgba(38, 136, 243, 0.8);

      img {
        filter: none;
      }
    }
  }

  &--textable {
    img {
      position: absolute;
    }
    #{$block}__text {
      padding-left: 0;
      margin-left: -1px;
      font-size: 9px;
      color: $primary;
      filter: grayscale(1) brightness(1.4);
    }
    &:hover {
      #{$block}__text {
        color: #2688f3 !important;
        filter: none;
      }
    }
  }

}
