.avatar {
  margin: 3px;
  border-radius: 50%;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
  object-fit: cover;

  &--small-border {
    &:hover {
      box-shadow: $primary-light 0 0 0 1px;
    }
  }

  &--medium-border {
    &:hover {
      box-shadow: $primary-light 0 0 0 2px;
    }
  }

  &--large-border {
    &:hover {
      box-shadow: $primary-light 0 0 0 3px;
    }
  }

  &--letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 1px;
  }
}
