.avatar {
  margin: 3px;
  max-width: 44px;
  max-height: 44px;
  border-radius: 50%;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: $primary-light 0 0 0 3px;
  }
}
