.comment {
  $block: &;

  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  transition: background .2s ease-in-out, box-shadow.2s ease-in-out;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
    background: #f7f7f7;
    margin: 2px 0;
    padding: 10px;
    &--pressed {
      background: $primary-light !important;
    }
    &--editable {
      box-shadow: $primary-light 0 0 0 2px inset;
    }
  }
  //&:hover {
  //  #{$block}__date {
  //    opacity: 1;
  //  }
  //}
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__attachments {
    display: flex;
    flex-wrap: wrap;
  }
  &__header {
    display: flex;
    flex: 1;
    //justify-content: space-between;
    align-items: center;
    padding: 0 5px 0;
    &--replied {
      padding-top: 8px;
    }
  }
  &__text {
    color: #222;
    font-size: 16px;
    padding: 0 5px 0;
  }
  &__date {
    color: $text-light;
    font-size: 10px;
    //opacity: 0;
    //transition: opacity .2s ease-in-out;
    margin-right: 5px;
  }
  //&__content {
  //  display: flex;
  //  align-items: center;
  //  &--file {
  //    background: $white;
  //    transition: box-shadow .2s ease-in-out;
  //    min-height: 52px;
  //    border-radius: 6px;
  //    padding: 10px 12px 10px 16px;
  //    justify-content: space-between;
  //    &:hover, &:focus-within {
  //      box-shadow: $primary-light 0 0 0 2px;
  //    }
  //  }
  //  &--text {
  //    color: #222;
  //    font-size: 15px;
  //  }
  //}
  &__controls {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    &--buttons {
      display: flex;
    }
    &--actions {
      display: flex;
      align-items: center;
      span {
        color: $text-light;
        font-size: 10px;
        margin-right: 5px;
      }
    }
    button {
      margin: 0 3px;
    }
  }
}
