@import './variables/colors';
@import './variables/constants';
@import './base';
@import '../../index';

body {
  //&::-webkit-scrollbar {
  //  width: 0;
  //}
  //overflow: hidden;
  //animation: rainbow 30s ease 1;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

#root {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  &--horizontal {
    flex-direction: row;
  }
  &--vertical {
    flex-direction: column;
  }
  //overflow-y: scroll;
}

.link {
  color: $primary;
  font-size: 14px;
}

.text {
  color: $text-light;
  font-size: 14px;
}

* {
  outline: none;
  caret-color: $primary;
}
