@import './variables/colors';
@import './variables/constants';
@import './base';
@import '../../index';

body {
  //&::-webkit-scrollbar {
  //  width: 0;
  //}
  //overflow: hidden;
  //animation: rainbow 30s ease 1;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

#root {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  &--horizontal {
    flex-direction: row;
  }
  &--vertical {
    flex-direction: column;
  }
  //overflow-y: scroll;
}

.link {
  color: $primary;
  font-size: 14px;
}

.text {
  color: $text-light;
  font-size: 14px;
}

* {
  outline: none;
  caret-color: $primary;
}

textarea {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.notification {
  &-item {
    border-radius: 8px !important;
    box-shadow: 3px 8px 18px rgba(0,0,0,.22) !important;
  }
  &-danger {
    border-left: 8px solid darken($danger, 7) !important;
    background-color: $danger !important;
    & .timer {
      background-color: lighten($danger, 15) !important;
    }
  }
  &-success {
    border-left: 8px solid darken($primary, 7) !important;
    background-color: $primary !important;
    & .timer {
      background-color: lighten($primary, 15) !important;
    }
  }
}
