@import './variables/colors';
@import './variables/constants';
@import './base';
@import '../../index';

body {
  //&::-webkit-scrollbar {
  //  width: 0;
  //}
  //overflow: hidden;
  //animation: rainbow 30s ease 1;
  ::selection {
    background: $primary-light;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::-webkit-resizer,
  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner {
    display: none !important;
  }

  ::-webkit-scrollbar {
    height: 15px;
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background: lighten($text-very-light, 10) !important;
    border: 5px solid #ffffff !important;
    border-radius: 10px !important;
    transition: background .5s ease-in-out !important;

    &:hover {
      background: darken($text-very-light, 10) !important;
    }
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent !important;
  }
}

#root {
  display: flex;
  flex: 1;
  overflow: hidden !important;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden !important;

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }
}

.link {
  color: $primary;
  font-size: 14px;
}

.text {
  color: $text-light;
  font-size: 14px;
}

* {
  outline: none;
  caret-color: $primary;
}

textarea {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.notification {
  &-item {
    border-radius: 8px !important;
    box-shadow: 3px 8px 18px rgba(0, 0, 0, .22) !important;
  }

  &-danger {
    border-left: 8px solid darken($danger, 7) !important;
    background-color: $danger !important;

    & .timer {
      background-color: lighten($danger, 15) !important;
    }
  }

  &-success {
    border-left: 8px solid darken($primary, 7) !important;
    background-color: $primary !important;

    & .timer {
      background-color: lighten($primary, 15) !important;
    }
  }
}

#tooltip {
  border-radius: 18px !important;
  padding: 5px 12px !important;
  font-size: 12px !important;
  background: #222222 !important;
  font-family: 'Nunito Light', sans-serif;
  transition: all .1s ease-in,
  top .0s,
  left .0s,
  border-radius .0s,
  padding .0s,
  font-size .0s !important;
  margin: 0 !important;

  &.place-top {
    &.show {
      margin-top: -5px !important;
    }
  }
  &.place-left {
    &.show {
      margin-left: -5px !important;
    }
  }
  &.place-right {
    &.show {
      margin-left: 5px !important;
    }
  }
  &.place-bottom {
    &.show {
      margin-top: 5px !important;
    }
  }
}
