.markdown {
  font-size: 15px;
  -webkit-user-select: text;
  cursor: text;

  img, table, td, tr, th, pre, code {
    max-width: 100%;
  }

  img {
    width: 100%;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.06);
  }

  ul {
    padding-left: 16px;
    font-size: 15px;
    list-style-type: none;

    li {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        top: 8px;
        left: -10px;
        border-radius: 50%;
        background: $black;
      }
    }
  }

  ol {
    padding-left: 25px;
  }

  pre {
    display: block;
    overflow-x: auto;
    background: $primary-light;
    color: rgb(77, 77, 76);
    padding: 10px 10px 10px 10px;
    //margin: 0;
    position: relative;
    font-family: monospace, monospace;
    font-size: 13px;
    border-radius: 6px;
    margin-bottom: 20px;
    max-width: 360px;
    max-height: 500px;
    //&:before {
    //  content: "";
    //  position: absolute;
    //  top: 0px;
    //  bottom: 0px;
    //  left: 0px;
    //  width: 50px;
    //  background-color: rgb(255, 255, 255);
    //  opacity: 0.5;
    //  border-right: 1px solid rgb(255, 255, 255);
    //}

    &::-webkit-scrollbar-thumb {
      border: 5px solid $primary-light !important;
      background: darken($primary-light, 10) !important;

      &:hover {
        background: darken($primary-light, 15) !important;
      }
    }

    code {
      color: #222222;
    }
  }

  blockquote {
    margin: 0 0 0 6px;
    border-left: 2px solid $primary-light;
    padding: 0 0 0 10px;
  }

  code {
    color: rgb(135, 135, 135);
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Extra Bold", sans-serif;
  }

  table {
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    background: $white;
    border-radius: 6px;
    max-width: 360px;
    max-height: 500px;
    overflow: scroll;
  }

  td {
    padding: 0 10px;
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $hover-color;
    }
  }

  th {
    border-bottom: 2px solid $hover-color;
  }

  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  h4:not(:last-child),
  h5:not(:last-child),
  h6:not(:last-child),
  p:not(:last-child),
  ul:not(:last-child),
  ol:not(:last-child),
  table:not(:last-child),
  hr:not(:last-child) {
    margin: 0 0 10px;
  }
}
