.settings {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $sidebar-width;
  background: $white;
  z-index: 1;

  &__title {
    font-family: 'Nunito Extra Bold', sans-serif;
    font-size: 36px;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    width: $sidebar-width;
    background: rgb(243, 245, 247);
    height: 100%;
    padding: 34px 24px 20px;
    border-right: 1px solid rgba(0, 0, 0, .05);
  }

  &__content {
    display: flex;
    flex: 1;
    justify-content: center;
    &-inner {
      display: flex;
      flex-direction: column;
      flex: 1;
      max-width: 645px;
      padding: 34px 20px 100px;
    }
  }

  &__controls {
    width: 100%;
    padding-left: 150px;
  }
}
