.card-attachments {
  display: flex;
  width: 100%;
  transition: all .3s ease-in-out;
  max-height: 300px;
  overflow: scroll;

  &::-webkit-scrollbar-thumb {
    border: 0 !important;
  }

  &::-webkit-scrollbar {
    width: 5px !important;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
  }


  &--collapse {
    max-height: 0;
  }
}

.card-attachment {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 18px 10px 16px;
  min-height: 50px;
  background: $hover-color;
  max-width: 100%;

  &:hover {
    background: $primary-light;
  }
  &:not(:last-child) {
    margin-bottom: 1px;
  }
  &:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  &:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}
